* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#root {
  background-image: linear-gradient(
    to right top,
    #edaff8,
    #d6b3fd,
    #bfb6fd,
    #a9b9fa,
    #96baf4
  );
}

.Popis {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  height: 100vh;
}

.ListaImena {
  margin-top: 10px;
  padding: 0;
  list-style: none;
  max-height: 200px;
  overflow-y: auto;
}

.ListaImena li {
  margin: 8px 0;
  font-size: 18px;
  color: #333;
}

.UserCount {
  font-size: 20px;
  margin-top: 15px;
}
